@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Kalam');

.lkalan {
    font-family: 'Kalam', cursive;
} 
.ljosefine {
    font-family: 'Josefin Sans', sans-serif;
}

h2 {
    font-size: 3rem;
    font-weight: 900;
    padding-bottom: 15px;
}

p {
    font-size: 1.5rem;
    line-height: 2rem;
    padding: 15px 0;
}

.pad-caja {
    padding: 4.1666666667%;
}

.borde-r {
    border-radius: 5px;
}

html, body {
    height: 100%;
}

header {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.90);
}
a {
    text-decoration: none;
}

#nombre {
    color: #DA3E26;
    font-size: 2.5rem;
    padding-top: 1.5%;
    padding-bottom: 0.5%;
    text-shadow: 2px 2px #49423E;
}
#logo {
    padding: 0 5.5%;
}
#social {
    padding-top: 1.5%;
    padding-bottom: 0.5%;
}
#social a {
    padding: 2% 0;
    color: #DA3E26;
    border-bottom: 2px solid rgba(0, 0, 0, 0);
}
#social a:hover {
    border-color: #DA3E26
}
#social p {
    font-size: 1.5rem;
    color: black;
}

#menu {
    padding-top: 1.5%;
    padding-bottom: 0.5%;
}
#menu li {
    padding: 0 1%;
}
#menu a {
    font-size: 1.5rem;
    /* padding: 8% 0; */
    line-height: 3rem;
    border-radius: 20px;
    color: black;
}
#menu a:hover {
    background-color: #DA3E26;
    color: white;
}

#fondo {
    width: 100%;
    height: 100%;
    background-image: url(../img/hamburg-2976711.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    top: 0;
    z-index: -10;
}

.img_43 {
    padding-top: 75%;
}

.img_189 {
    padding-top: 37.5%;
}
.pad-img {
    padding: 1%;
}

#img1 {
    background-image: url(../img/architecture-3137494.jpg);
    background-size: cover;
    background-position: center;
}
#img2 {
    background-image: url(../img/sunset-3134706.jpg);
    background-size: cover;
    background-position: center;
}
#img3 {
    background-image: url(../img/tianjin-2185510.jpg);
    background-size: cover;
    background-position: center;
}

#principal {
    background-color: rgb(255, 255, 255);
}

#boton-nos {
    padding: 10px 0;
}
#boton-nos a{
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 900;
    text-align: center;
    line-height: 3em;
    color: white;
    text-decoration: none;
    background-color: #49423E;
}
#boton-nos a:hover {
    background-color: #DA3E26;
}

#services {
    height: 500px;
    background-color: #DA3E26;
}

@media (min-width: 1025px) {
    header {
        position: fixed;
    }
}

@media (min-width: 481px) and (max-width: 1024px) {
    header {
        position: fixed;
    }
    #menu {
        padding-top: 1%;
    }
}

@media (max-width: 480px) {
    #nombre {
        padding-top: 0;
        line-height: 2em;
    }
}